<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestTasks">
    <classes>
      <class name="test.veshtardtests.Task1"/>
      <class name="test.veshtardtests.Task2"/>
      <class name="test.veshtardtests.Task3"/>

    </classes>
  </test>
</suite>
